.card {
    display:grid;
    padding: 0;
    height: 11em;
    width: 100%;
    box-shadow: 2px 2px 1px var(--accent-dark);
    margin: 20px 0;
    overflow: hidden;
    background-color: var(--accent-light);
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-areas: 
        "bcimg bctitle bctitle"
        "bcimg bcauthor bcauthor"
        "bcimg bcdate bcdate"
    ;
}

.card-img {
    grid-area:bcimg;
    display:flex;
    justify-content: center;
    overflow:hidden;
}

.card-img img {
    height: 120%;
} 


.card-title, .card-author, .card-date {

    padding: 10px 20px;
    margin: 0;
    width: 100%;
}

.card-title {
    grid-area: bctitle;
}

.card-title a {
    font-family:'Lobster', cursive;
    font-size:1.6em;
    background-color: var(--accent-dark);
    border: 1px solid black;
    border-radius:15px;
    color: white;
    padding: 3px 13px;
    width: 100%;
}

.card-title a:active{
    background-color: var(--accent-mid);
}


.card-author {
    grid-area: bcauthor;
}
.card-date {
    grid-area: bcdate;
    font-style:italic;
    font-size:0.8em;
}




@media only screen and (min-width: 480px) and (max-width: 959px) {
    .card{
        width:45vw;
        min-width: 20em;
        margin: 20px;
    }
}

@media only screen and (min-width: 960px) {
    .card{
        width:30vw;
        height: 12em;
        margin: 20px;
    }

}
    
